{#
	This is placed inside advert.html via an ajax call
	This is the actual content of the advert
#}

<a href="{{ post.link }}" target="_BLANK" class="parallax advert-content advert-content--{{size}} advert-content--hidden{% if post.video %} advert-content--video{%endif%}" style="background-image: url({{post.image[0]}})" {% if post.video %}data-vid="{{post.video["url"]}}"{%endif%}>
	<div class="container fixed advert-content__container advert-content__container--{{post.position}}">
		<div class="advert-content__container__body">
			{{ post.content | raw }}
		</div>
	</div>
</a>