{#
	The root page of the category page
#}
<div class="category-controller {{ actor(echo) }}">
  <section class="container padded home-container">
    {% include "post-items.html" with {'posts': categoryPosts, 'advert': true} %}
  </section>
  {% if morePosts %}
	  {% include 'load-more.html' with {'cat': post.term_id} %}
  {% endif %}
</div>