{#
the static footer
#}
  </section>
  <footer>
    <div class="container footer">
      {% include 'nav.html' with {'items': header.bottom.items, 'noHighlight': true} %}    
      {% include "signup.html" %}
      <div class="footer__copyright">
        &copy; Teeth Magazine {{ "now"|date("Y") }}
      </div>
    </div>
  </footer>
  </main>

  <!-- - - SCRIPTS - - -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="{{ env.theme_uri }}/assets/js/headroom.js"></script>
  <script src="{{ env.theme_uri }}/assets/js/scripts.js"></script>
  <!-- - - END SCRIPTS - - -->
</body>
</html>
