{#
	A universal load more button that can be dropped almost anywhere
#}
<section class="container padded padded-top padded-bottom centre-align load-more">
	<button class="btn btn--outline btn--big"
		data-cat="{{cat}}"
		data-paged="2"
		{% if featured %}
			data-post-not-in="{{featured.ID}}"
		{% endif %}>Load more</button>
</section>