<ul class="nav-items {% if noHighlight %}nav-items--no-highlight{% endif %}">
  {% for item in items %}
  <li class="nav-items__item">
    {% if item.object != 'custom' %}
      <a class="nav-items__item__link nav-items__item__link--{{item.object_id}} {% if header.active == item.object_id %} nav-items__item__link--active {% endif %}" {{ state(item, env, 'nav') }}>{{ item.title }}</a>
    {% else %}
      <a class="nav-items__item__link {% if header.active == item.object_id %} nav-items__item__link--active {% endif %}" href="{{item.url}}" target="_BLANK">{{ item.title }}</a>
    {% endif %}
  </li>
  {% endfor %}
</ul>