{#
	The root page of the category page
#}
<div class="category-controller {{ actor(echo) }}">
  <section class="container padded padded-bottom padded-top">
    <h2>Search results for: <span class="search-query">{{ search }}</span></h2>
  </section>
  {% if noResults %}
    <section class="container padded home-container">
      No results. Maybe try something less specific?
    </section>
  {% else %}
	  <section class="container padded home-container">
	    {% include "post-items.html" with {'posts': searchPosts, 'advert': true} %}
	  </section>
  {% endif %}
</div>