<div class="container page-container">
  {% include 'page-common.html' %}
  <div class="page-container__info-fields {{actor(echo)}}">
    {% for box in infoFields %}
      <div class="box">
        {{ box.box | raw }}
      </div>
    {% endfor %}
  </div>
</div>