<div class="page-container__nav">
  {% include 'nav.html' with {'items': inlineNav, 'noHighlight': true} %}
</div>
<div class="page-container__content">
  <h3 class="page-container__content__large {{actor(echo)}}">{{ largeType | raw }}</h3>
  <div class="page-container__content__body {{actor(echo)}}">
    {{ post.content | raw }}
  </div>
</div>