<div class="home-controller {{ actor(echo) }}">
  <section class="container home-featured padded-bottom">
    {% include "single-post.html" with {'post': featured, 'featuredPost': true} %}
  </section>
  {% if structure.adverts %}
  <div class="container padded-bottom">
    {% include "advert.html" with {'size': 'full', 'placement': 1} %}
  </div> 
  {% endif %}
  <section class="container padded home-container">
    {% include "post-items.html" with {'posts': homePosts, 'advert': true, 'hasAdverts': structure.adverts} %}
  </section>
  {% if morePosts == false %}
    {% include 'load-more.html' with {'cat': false} %}
  {% endif %}
</div>