{% include 'stockist-locations.html' %}

<div class="container page-container">
  {% include 'page-common.html' %}
  <div class="page-container__region-select {{actor(echo)}}">
    <button class="btn btn--black btn--big" id="stockistOpen"><span>Choose a Region</span> <svg><use xlink:href='#svg-arrow-down'></use></svg></button>
  </div>
  <div class="page-container__stockists {{actor(echo)}}">
    {% for stockist in stockists %}
      <div class="stockist{% for region in stockist.regions %} {{region.slug}}{% endfor %}">
        <h5>{{ stockist.post_title }}</h5>
        <p>{{ stockist.information | raw }}</p>
      </div>
    {% endfor %}
  </div>
</div>