{% for article in posts %}
  <a class="post-item {% if loadMore %} post-item--hidden {% endif %}" {{ state(article, env, 'post') }}>
    <div class="post-item__image">
      {{ lazyImage(article.image[0], article.image[1], article.image[2]) }}
    </div>
    <span class="post-item__info">
      {% if article.single_category %}
        <em>{{article.single_category.name}}</em> &mdash;
      {% endif %}
      {{ article.post_date | date("d.m.y") }}
    </span>
    <h4 class="post-item__title">{{ article.post_title }}</h4>
  </a>

  {% if loop.index == 12 and advert and hasAdverts %}
  </section>
  <div class="container padded-bottom">
    {% include "advert.html" with {'size': 'full', 'placement': 2} %}
  </div>
  <section class="container padded home-container">
  {% endif %}
{% endfor %}