<div class="search">
  <input class="search__input" type="search" placeholder="Press enter to search"/>
  <button class="search__icon">
    <svg>
        <use xlink:href='#svg-search'></use>
    </svg>
  </button>
</div>