<!-- This has access to a share variable -->
<div class="share-box">
  <h5 class="share-box__title">Share</h5>
  <ul class="share-box__items">
    <li class="share-box__items__item">
      <a href="{{share.social.twitter}}" class="share-link share-link--twitter">
        <svg>
            <use xlink:href='#svg-twitter'></use>
        </svg>
      </a>
    </li>  
    <li class="share-box__items__item">
      <a href="{{share.social.facebook}}" class="share-link share-link--facebook">
        <svg>
            <use xlink:href='#svg-facebook'></use>
        </svg>        
      </a>
    </li>
    <li class="share-box__items__item">

      <a href="{{share.social.pinterest}}" class="share-link share-link--pinterest">        
        <svg>
            <use xlink:href='#svg-pinterest'></use>
        </svg>
      </a>
    </li>
  </ul>
</div>