<article class="article {% if featuredPost == false %}article--not-featured{%endif%}" data-id="{{post.ID}}" data-name="{{post.post_name}}">
  <div class="article__left {% if featuredPost %}article__left--bottom{% endif %} {{ actor(echo) }}">
      {% if featuredPost == true %}
         <a class="article__left__title" {{ state(post, env, 'post') }}>
          <h1 class="article__left__title__heading">{{ post.post_title }}</h1>
          <h3 class="article__left__title__meta"><em>{{ post.single_category.name }}</em> &mdash; {{ post.post_date | date("d.m.y") }}</h3>         
          <svg>
              <use xlink:href='#svg-arrow'></use>
          </svg>           
         </a>
      {% else %}
        <div class="article__left__title">
          <h1 class="article__left__title__heading">{{ post.post_title }}</h1>
          <h3 class="article__left__title__meta"><em>{{ post.single_category.name }}</em> &mdash; {{ post.post_date | date("d.m.y") }}</h3>
        </div>
      {% endif %}
    <div class="article__left__information {% if featuredPost %}hidebelow480{% endif %}">
      {{ post.information | raw }}
    </div>
  </div>
  {% if featuredPost == false %}
    <div class="article__right {{ actor(echo) }}">
      <div class="article__right__body">
        {% if post.embed %}
          <div class="article__video">
            {{ post.embed | raw }}
          </div>
        {% endif %}
        {{ post.content | raw }}
      </div>
      <div class="article__right__share">
        {% include 'share.html' with {'share': post} only %}
      </div>
      <div class="article__right__signup">
        {% include "signup.html" with {'alt': true} %}
      </div>
<!--       {% if structure.adverts %}
        <div class="article__right__advert">
          {% include "advert.html" with {'size': 'inline'} %}
        </div>
      {% endif %} -->
    </div>
    <div class="article__spacer"></div>
  {% else %}
    <a class="article__featured" style="background-image: url({{post.image[0]}})" {{ state(post, env, 'post') }}></a>
  {% endif %}
</article>