<div class="sidebar-fixed hidebelow1024">
  <div class="container">
    <aside class="sidebar">
      <ul class="post-sidebar">
        {% for article in sidebar %}
          <li class="post-sidebar__item post-sidebar__item--{{article.ID}}">
            <a class="post-sidebar__link" {{ state(article, env, 'post') }}>
              <div class="post-sidebar__link__percentage">
                <div class="post-sidebar__link__percentage__bar"></div>
              </div>
              <span class="post-sidebar__link__info">
                {% if article.single_category %}
                  <em>{{article.single_category.name}}</em> &mdash;
                {% endif %}
                {{ article.post_date | date("d.m.y") }}
              </span>
              <h4 class="post-sidebar__link__title">{{ article.post_title }}</h4>
            </a>
          </li>
        {% endfor %}
      </ul>
    </aside>
  </div>
</div>