<ul class="social">
  <li class="social__item">
    <a href="https://twitter.com/TEETH_MAG" class="social__item__link social__item__link--twitter">
        <svg>
            <use xlink:href='#svg-twitter'></use>
        </svg>      
    </a>
  </li>
  <li class="social__item">
    <a href="https://www.instagram.com/teethmag/" class="social__item__link social__item__link--instagram">
        <svg>
            <use xlink:href='#svg-instagram'></use>
        </svg>            
    </a>
  </li>
  <li class="social__item">
    <a href="https://www.facebook.com/TEETHMAG" class="social__item__link social__item__link--facebook">
        <svg>
            <use xlink:href='#svg-facebook'></use>
        </svg>            
    </a>
  </li>
  <li class="social__item">
    <a href="https://www.pinterest.com/teethmag/" class="social__item__link social__item__link--pinterest">
        <svg>
            <use xlink:href='#svg-pinterest'></use>
        </svg>
    </a>
  </li>
  <li class="social__item">
    <a href="http://teethmagazine.tumblr.com/" class="social__item__link social__item__link--tumblr">
        <svg>
            <use xlink:href='#svg-tumblr'></use>
        </svg>            
    </a>
  </li>
  <li class="social__item">
    <a href="https://soundcloud.com/teethmag" class="social__item__link social__item__link--soundcloud">
        <svg>
            <use xlink:href='#svg-soundcloud'></use>
        </svg>            
    </a>
  </li>
</ul>