{% if splash %}
  {% if content.link %}
    <a href="{{ content.link }}" class="splash" target="_blank" style="{% if content.image %}background-image:url({{content.image}}){% endif %}">
  {% else %}
    <div class="splash" style="{% if content.image %}background-image:url({{content.image}}){% endif %}">
  {% endif %}
      <div class="splash__content">
        {{ content.text | raw }}
      </div>
  {% if content.link %}
    </a>
  {% else %}
    </div>
  {% endif %}
{% endif %}