<div class="locations">
	<ul class="locations__content">
		<li class="locations__content__region">
			<a href="{{ state.absolute }}" data-region="">All</a>
		</li>
	{% for item in locations %}
		<li class="locations__content__region">
			<h5>{{item.name}}</h5>

			<ul class="sub-locations">
				{% for loc in item.data %}				
					<li class="sub-locations__region">
						<a href="{{ state.absolute }}?region={{loc.slug}}" data-region="{{loc.slug}}">{{loc.name}}</a>
					</li>
				{% endfor %}
			</ul>
		</li>
	{% endfor %}
	</ul>
</div>